<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <!--img src="assets/images/poke_teams_logo2.png" height="60" width="160"-->
    <div id="site-logo">
      <img src="assets/images/logo.png" scale="0">
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="app-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <app-filters [snav]="snav"></app-filters>
      </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
  </mat-sidenav-container>
</div>
