.filters-container {
	margin-top: 3em;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 3em;
	text-align: center;
}

/*
.filters-header {
	margin-top: -9px;
	height: 6em;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../../assets/images/ditto3.png')	
}
*/