<h1 mat-dialog-title>Battle replays</h1>
<div mat-dialog-content>
		<mat-tab-group>
				<mat-tab label="Wins">
						<mat-nav-list>
								<span (click)="seeBattleReplay(battle_id.battle_id)" *ngFor="let battle_id of data.battle_ids_wins">
									<a mat-list-item href="https://replay.pokemonshowdown.com/{{battle_id.battle_id}}" target="_blank"><img height="20" width="20" src="assets/images/ps.ico" alt="ps"> {{ battle_id.battle_id }} <mat-icon>launch</mat-icon></a>
								</span>
							</mat-nav-list>
				</mat-tab>
				<mat-tab label="Losses">
						<mat-nav-list>
								<a mat-list-item *ngFor="let battle_id of data.battle_ids_losses" href="https://replay.pokemonshowdown.com/{{battle_id.battle_id}}" target="_blank"><img height="20" width="20" src="assets/images/ps.ico" alt="ps"> {{ battle_id.battle_id }} <mat-icon>launch</mat-icon></a>
						 </mat-nav-list>
				</mat-tab>
		</mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="onNoClick()">OK</button>
</div>