
<h1 mat-dialog-title>Team winning stats <span style="color:red">(BETA)</span></h1>
<div mat-dialog-content>
		<div *ngFor="let col of data.columnsList">
				<mat-card class="data-stats-card">
					<mat-card-header>
					    <div mat-card-avatar [class]="col.replace(' ','') | lowercase" [class.sprite-xyicons]="col" class="example-header-image"></div>
						<mat-card-title class="data-card-title"><h3 class="data-pokemon-name">{{col}}</h3></mat-card-title>
					</mat-card-header>
					<div class="data-stats-tile">
						<div *ngFor="let val of getKeys(data.dataStats[col])">
							<b>{{val}}</b>
							<table class="table-data">
								<tr *ngFor="let val2 of getSortedKeys(data.dataStats[col][val])">
									<td class="col1-data">{{val2}}</td>
									<td>
									<mat-progress-bar mode="determinate" [value]="getPercentage(data.dataStats[col][val][val2], data.dataStats[col][val])"></mat-progress-bar>
									 {{getPercentage(data.dataStats[col][val][val2], data.dataStats[col][val]) | number : '1.0-1'}}% ({{data.dataStats[col][val][val2]}} out of {{getTotal(data.dataStats[col][val])}})
									</td>
								</tr>
							</table>
							<br/>
						</div>
					</div>
				</mat-card>
			</div>
	<mat-card>
		<mat-card-header>
			<mat-card-title><h3>Leads</h3></mat-card-title>
		</mat-card-header>
		<table class="table-data">
			<tr *ngFor="let l of getSortedKeys(data.leads)">
				<td class="col1-data">{{l}}</td>
				<td><mat-progress-bar mode="determinate" [value]="getPercentage(data.leads[l],data.leads)" max="100"></mat-progress-bar> {{getPercentage(data.leads[l],data.leads) | number : '1.0-1'}}%</td>
			</tr>
		</table>
		<br/>
	</mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
</div>

