
<h1 mat-dialog-title>Team winning stats</h1>
<div mat-dialog-content>
<mat-grid-list [cols]="getNumberOfColumns()">
		<mat-grid-tile *ngFor="let col of data.columnsList" class="data-stats-grid-tile">
				<mat-card class="data-stats-card">
					<mat-card-header>
						<mat-card-title><h3>{{col}}</h3></mat-card-title>
					</mat-card-header>
					<div class="data-stats-tile">
						<div *ngFor="let val of getKeys(data.dataStats[col])">
							<b>{{val}}</b>
							<table>
								<tr *ngFor="let val2 of getKeys(data.dataStats[col][val])">
									<td>{{val2}}</td><td>{{data.dataStats[col][val][val2]}}</td>
								</tr>
							</table>
							<br/>
						</div>
					</div>
				</mat-card>
		</mat-grid-tile>
</mat-grid-list>
	<mat-card>
		<mat-card-header>
			<mat-card-title><h3>Leads</h3></mat-card-title>
		</mat-card-header>
		<table>
			<tr *ngFor="let l of getKeys(data.leads)">
				<td>{{l}}</td><td>{{data.leads[l]}}</td>
			</tr>
		</table>
		<br/>
	</mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
</div>

