<h3 mat-dialog-title>Get Notifications</h3>
<div *ngIf="!message">
<p>
Get an email when new datasets or new features are available.
</p>
<div mat-dialog-content>
    <mat-form-field style="width:100%">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email">
    </mat-form-field>
</div>
</div>
<div *ngIf="message">
    <p>{{message}}</p>
</div>
<div mat-dialog-actions>
    <button *ngIf="!message" mat-raised-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="!message" mat-raised-button color="primary" (click)="subscribeEmail()" [disabled]="email.invalid">Save</button>
    <button *ngIf="message" mat-raised-button (click)="onNoClick()">Ok</button>
</div>