
<div *ngIf="errorMessage">
  <div>
    <p>{{errorMessage}}</p>
  </div>
</div>
<div id="menu-bar">
    <button mat-button onClick="location.href = 'http://www.trainertower.com/'">Home</button>
    <button mat-button onClick="location.href = 'https://damagecalc.trainertower.com/'">Damage Calc</button>
    <button mat-button onClick="location.href = 'https://results.trainertower.com/'">Results</button>
  </div>
  <div class="results-header">
    <p> <b> VGC Teams Replays </b> by <a href="https://www.twitter.com/jocan3mena" target="_blank">jocan3mena</a> </p>
    <div>
				<mat-form-field id="datasets-dropdown">
						<mat-select [disabled]="loading" placeholder="Dataset" [(ngModel)]="selectedDataset" name="dataset" (selectionChange)="getTeams()">
							<mat-option *ngFor="let dataset of datasets" [value]="dataset.name">
								{{dataset.displayName}}
							</mat-option>
						</mat-select>
					</mat-form-field>
		</div>
  </div>
  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
    <div class="loading-report-text">
      Loading report. It can take several minutes ...
    </div>
  </div>
<div [hidden]="loading || errorMessage">
<div class="table-container mat-elevation-z8">
	<div class="teams-search-input-container">
    <div>
    <mat-form-field class="teams-search-input">
        <mat-label>Search by Pokemon</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter value(s)">
    </mat-form-field>
    </div>
	</div>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="relevance" matSortDirection="desc">
    <!-- Position Column -->
    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef class="teams-sprites-column"> Team </mat-header-cell>
      <mat-cell *matCellDef="let element" class="teams-sprites-column"> 
		<mat-grid-list cols="3" (click)="showMobileActions(element)">
		  <mat-grid-tile *ngFor="let pokemon of element.pokemon_ids"><span [class]="pokemon.replace(' ','').replace('.','').replace('-','') | lowercase" [class.sprite-xyicons]="pokemon"></span></mat-grid-tile>
		</mat-grid-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="usage_count">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-column"> Usage </mat-header-cell>
      <mat-cell *matCellDef="let element" class="desktop-column"> {{element.usage_count}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="win_count">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-column"> Win </mat-header-cell>
      <mat-cell *matCellDef="let element" class="desktop-column"> {{element.win_count}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="users_count">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-column"> Users </mat-header-cell>
      <mat-cell *matCellDef="let element" class="desktop-column"> {{element.users_count}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="win_ratio">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-column"> Win Ratio </mat-header-cell>
        <mat-cell *matCellDef="let element" class="desktop-column"> {{element.win_ratio | number : '1.4' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="usage_ratio">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-column"> Usage Ratio </mat-header-cell>
          <mat-cell *matCellDef="let element" class="desktop-column"> {{ element.usage_ratio | number : '1.4' }} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="relevance">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="desktop-column"> Relevance </mat-header-cell>
      <mat-cell *matCellDef="let element" class="desktop-column"> {{ element.relevance | number : '1.4'}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="summary">
        <mat-header-cell *matHeaderCellDef> Summary </mat-header-cell>
        <mat-cell *matCellDef="let element" [class.desktop-column]="element.show_actions" (click)="showMobileActions(element)">
          <p>Team has been used in <b>{{element.usage_count}}</b> replays by <b>{{element.users_count}}</b> different users.</p>
          <p><b>Win ratio:</b> {{element.win_ratio | number : '1.4' }}</p>
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="desktop-column"> Actions </mat-header-cell>
      <mat-cell [class.desktop-column]="!element.show_actions" *matCellDef="let element">
          <app-action-button icon="play_circle_filled" label="replays" (onClick)="seeBattleIds(element.battle_ids_wins, element.battle_ids_losses)"></app-action-button>
          <app-action-button icon="bar_chart" label="data" (onClick)="seeData(element.data, element.lead)"></app-action-button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="teams-row"></mat-row>
  </mat-table>
    <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[ 10, 40, 120]">
  </mat-paginator>
</div>
</div>