.table-container {
}

p {
  text-align: center;
}

.mat-sort-header-container {
  justify-content:center;
}

.teams-search-input {
  width: 33%;
}

.teams-search-input-container {
  text-align: center;
}

.results-header {
  line-height: 0.1cm;
  text-align: right;
}

@media only screen and (max-width: 500px) {
  .teams-search-input {
    width: 90%;
  }
  .teams-sprites-column {
    flex: 1 1 40% !important;
  }
  .desktop-column {
    display: none;
  }
}