.table-container {
}

p {
  text-align: center;
}

.mat-sort-header-container {
  justify-content:center;
}

.teams-search-input {
  width: 33%;
}

.teams-search-input-container {
  text-align: center;
}

.table-buttons {
  text-align: right;
  margin: 0.5em;
}

.results-header {
  line-height: 0.1cm;
  text-align: right;
  margin-top: 50px;
  /* background-image: url("../../assets/images/Picture4.png");
  background-repeat: no-repeat;
  background-position-y: -90px; */
}

.mat-card { display:inline-block}

.teams-row:hover {
  background: #d3c7ea;
}

#datasets-dropdown {
  width: 25em;
}

#menu-bar {
  background-color: #1A1D20;
  color: #bbb!important;
  position: fixed;
  width: 100%;
  top: 120px;
  z-index: 100;
}

.mat-button:hover {
  color: #BD155C !important;
}

.mat-progress-spinner {
  margin: auto;
}

.loading-report-text {
  margin-top: 1em;
  text-align: center;
  color: #673AB7;
}

.about-button {
  width: 100%;
  text-align: right;
  color: #673ab7;
}

.notify-button {
  width: 100%;
  text-align: left !important;
}

.email-input {
  width: 100% !important;
}

#email-form-container {
  padding: 1em;
  margin: 1em auto;
  width: 300px;
  background-color: white;
  border: solid;
  border-color: #D3C7EA;
}

#save-email-message {
  font: bold;
  font-size: 15px;
}

@media only screen and (max-width: 500px) {
  .teams-search-input {
    width: 90%;
  }
  .teams-sprites-column {
    flex: 1 1 40% !important;
  }
  .desktop-column {
    display: none;
  }

  #menu-bar {
    position: relative;
    top: auto;
  }

  .results-header {
    margin-top: auto;
  }
}
