.table-container {
}

p {
  text-align: center;
}

.mat-sort-header-container {
  justify-content:center;
}

.teams-search-input {
  width: 33%;
}

.teams-search-input-container {
  text-align: center;
}


@media only screen and (max-width: 500px) {
  .teams-search-input {
    width: 90%;
  }
}